html, body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  background-color: black;
  background-image: url("../images/gifs/pass.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.login > * {
  margin: 5px;
  width: 100%;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#submitButton {
  border-width: 0px;
  border-radius: 5px;
}
#submitButton:focus {
  border-color: white;


}

#passField {
  border-width: 0px;
  border-radius: 5px;
  padding: 5px;
}

#passField:focus {
  border-color: white;

}